*{
    box-sizing: border-box;
    border-color:black;
    margin: 0;
    padding:0;
}
 a{
     display: flex;
    justify-content: space-between; 
    text-decoration: none;
} 
body{
    font-family: Arial, Helvetica, sans-serif;
}

#b1{
    display: none;
}
.b1{
    background:#7186A6;
}
.closebtn {
    float: right;
    color: white;
    font-size: 35px;
    cursor: pointer;
  }
.column {
    float: left;
    width: 33.33%;
    padding: 50px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
    color: white;
  }
  
  .containerTab {
    padding: 20px;
    color: white;
  }
  
.column-layout{
    display: flex;
    position: relative;
    justify-content: space-evenly;
}
/* .container{
    background-color: #6699CC;
    border-bottom:1px;
    border-color: black;
    border-top: 1px;
    display:flex;
    justify-content: space-evenly;
    list-style: none;
    margin: 0;
    max-width: 100%;
    width: 100%;
    text-decoration: none;

} */

.footer-container-item{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding:1em;
    margin:1em;
    list-style: none;

    
}
h2{
    padding: 2px;
    color:black;
    text-decoration: none;
}
.footer-info{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.header-name{ 
    padding: 5px;
    text-shadow: 5px 5px 10px cornflowerblue;
}
.icon-bar {
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
  }
  .icon-bar a:hover {
    background-color: #000;
  }
  
  .meetup {
    background: #55ACEE;
    color: white;
  }
  
  .google {
    background: #dd4b39;
    color: white;
  }
  
  .linkedin {
    background: #007bb5;
    color: white;
  }
  
  .github {
    background: #bb0000;
    color: white;
  }
.main-image{
    align-items: center;
    background: url(/images/grey-background.jpg);
    background-position: 50% 60%;
    background-size: cover;
    border-bottom: 1px;
    border-color: black;
    display: flex;
    flex-direction: column;
    height: 35vh;
    margin-bottom: 1px;
}
.menu{
    display: flex;
    justify-content: space-between;
    text-decoration: none;
}
.nav-menu ul{
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    margin-top: 30px;
    text-decoration: none;
    justify-content: space-between;
   
}
.list-item a{
    background-color: grey;
    border-radius: 5px;
    color: black;
    display: flex;
    font-size: 20px;
    justify-content: space-between;
    margin-right: 1px;
    padding:.1em 1em;
}
.nav-menu{
    text-decoration: none;
}
.project-links{
    color:black;
    background-color: grey;
    border-radius: 3px;
    opacity: .8;
}
.row:after {
    content: "";
    display: table;
    clear: both;
  }
  
.screenshots{
    

}
.show-carousel{
    background-color: grey;
}
.top-header{
    align-items: center;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    width: 100%;
}
ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
@media all and (max-width:500px){
    .column-layout{
        grid-column-gap: 1rem;
        grid-template-columns: repeat(3, 1fr);
    }
header{
        
        flex-direction: column;
        text-align: center;
    }
    .logo{
        padding: 18px 0 0;
    }
    .menu ul {
        flex-direction: column;
        margin-top: 0;
    }
    .menu ul li{
        padding: 5px;   
    }
    .banner-text-items{
        width: 100%;
    }
    .banner-text-items h2{
        font-size: 1.5em;
    }
    main{
        flex-direction: column;
    }
}
@media all and (max-width:800px){
header{
        flex-direction: column;
        text-align: center;
    }

    .menu ul {
        flex-direction: column;
        margin-top: 0;
    }
    .menu ul li{
        padding: 5px;   
    }
    
    .main-content{
        flex-direction: column;
        
    }
}
.slideshow-container {
    max-height: auto;
    max-width: 100%;
    position: relative;
    margin: auto;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }

  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
