*{
    box-sizing: border-box;
    border-color:black;
    margin: 0;
    padding:0;
}

a{
    display: flex;
    justify-content: space-between; 
    text-decoration: none;
}

.active, .dot:hover {
    background-color: #717171;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

#b1{
    display: none;
}

.b1{
    background:#7186A6;
}

.closebtn {
    float: right;
    color: white;
    font-size: 35px;
    cursor: pointer;
}

.column {
    float: left;
    width: 33.33%;
    padding: 50px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
    color: white;
}
  
  .containerTab {
    padding: 20px;
    color: white;
}
  
.column-layout{
    display: flex;
    position: relative;
    justify-content: space-evenly;
}
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
  
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
.footer-container-item{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding:1em;
    margin:1em;
    list-style: none;    
}
.footer-item{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.footer-info{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
h2{
    padding: 2px;
    color:black;
    text-decoration: none;
}
.header a{
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
    list-style: none;

}
.header-name{ 
    padding: 5px;
    text-shadow: 5px 5px 10px cornflowerblue;
}
.icon-bar {
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
}
.icon-bar a:hover {
    background-color: #000;
}
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
.list-item a{
    background-color: grey;
    border-radius: 5px;
    color: black;
    display: flex;
    font-size: 20px;
    justify-content: space-between;
    list-style: none;
    margin-right: 1px;
    padding:.1em 1em;
    text-decoration: none;
}
.main-image{
    align-items: center;
    background: url(/images/grey-background.jpg);
    background-position: 50% 60%;
    background-size: cover;
    border-bottom: 1px;
    border-color: black;
    display: flex;
    flex-direction: column;
    height: 35vh;
    margin-bottom: 1px;
}
.menu{
    display: flex;
    justify-content: space-between;
    text-decoration: none;
}
.menu-list{
    list-style: none;
    text-decoration: none;
}
.mySlides {
    display: none;
} 
.nav-menu ul{
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    margin-top: 30px;
    text-decoration: none;
    justify-content: space-between;
   
}
.nav-menu-right{
    text-decoration: none;
    list-style: none;
    align-items: right;

}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}
  
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.project-links{
    color:black;
    background-color: grey;
    border-radius: 3px;
    opacity: .8;
}
.row:after {
    content: "";
    display: table;
    clear: both;
  }
  
.show-carousel{
    background-color: grey;
}
.slideshow-container {
    max-height: auto;
    max-width: 100%;
    position: relative;
    margin: auto;
}
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}
.top-header{
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 20px 10px;
    position: absolute;
    top: 0;
    width: 100%;
}
@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

@media all and (max-width:500px){
    .column-layout{
    grid-column-gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    }
header{ 
    flex-direction: column;
    text-align: center;
    }
    .logo{
    padding: 18px 0 0;
    }
    .menu ul {
    flex-direction: column;
     margin-top: 0;
    }
    .menu ul li{
    padding: 5px;   
    }
    .banner-text-items{
    width: 100%;
    }
    .banner-text-items h2{
    font-size: 1.5em;
    }
    main{
    flex-direction: column;
    }
}
@media all and (max-width:800px){
header{
    flex-direction: column;
    text-align: center;
    }

    .menu ul {
    flex-direction: column;
    margin-top: 0;
    }
    .menu ul li{
    padding: 5px;   
    }
    
    .main-content{
    flex-direction: column;    
    }
}


  
  
  







  


  


